<div *ngIf="alert" class="alert alert-danger" role="alert">
  Please all fields are required.
</div>

<div class="mb-3">
  <label class="form-label fw-bold">First Name</label>
  <div class="col-sm-3">
    <input
      type="text"
      class="form-control"
      [(ngModel)]="first_name"
      placeholder="Enter First Name"
    />
  </div>
</div>
<div class="mb-3">
  <label class="form-label fw-bold">Last Name</label>
  <div class="col-sm-3">
    <input
      type="text"
      class="form-control"
      [(ngModel)]="last_name"
      placeholder="Enter Last Name"
    />
  </div>
</div>
<div class="mb-3">
  <label class="form-label fw-bold">Gender</label>
  <div class="col-sm-3">
    <div class="form-check form-check-inline">
      <input
        [(ngModel)]="gender"
        class="form-check-input"
        type="radio"
        name="inlineRadioOptions"
        id="inlineRadio1"
        value="Male"
      />
      <label class="form-check-label" for="inlineRadio1">Male</label>
    </div>
    <div class="form-group"></div>
    <div class="form-check form-check-inline">
      <input
        [(ngModel)]="gender"
        class="form-check-input"
        type="radio"
        name="inlineRadioOptions"
        id="inlineRadio2"
        value="Female"
      />
      <label class="form-check-label" for="inlineRadio2">Female</label>
    </div>
  </div>
</div>

<div class="mb-3">
  <label class="form-label fw-bold">Email</label>
  <div class="col-sm-3">
    <input
      type="email"
      class="form-control"
      [(ngModel)]="email"
      placeholder="Enter Email"
    />
  </div>
</div>

<div class="mb-3">
  <label class="form-label fw-bold">Phone</label>
  <div class="col-sm-3">
    <input
      type="text"
      class="form-control"
      [(ngModel)]="phone"
      placeholder="Enter Phone"
    />
  </div>
</div>

<button (click)="addEmployee()" class="btn btn-primary">Add</button>
