<!-- Button trigger modal -->
<button
  type="button"
  class="float-end btn btn-primary m-2"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
  (click)="addClick()"
  data-backdrop="static"
  data-keyboard="false"
>
  Add Employee
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ ModalTitle }}</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeClick()"
        ></button>
      </div>
      <div class="modal-body">
        <app-add-edit-emp
          [emp]="emp"
          *ngIf="ActivateAddEditEmployeeComp"
        ></app-add-edit-emp>
      </div>
    </div>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Gender</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dataItem of EmployeeList">
      <td>{{ dataItem.id }}</td>
      <td>{{ dataItem.first_name }}</td>
      <td>{{ dataItem.last_name }}</td>
      <td>{{ dataItem.gender }}</td>
      <td>{{ dataItem.email }}</td>
      <td>{{ dataItem.phone }}</td>
    </tr>
  </tbody>
</table>
<!-- spinnner element is 
    defined with id loading -->
<div *ngIf="searching" class="sbl-circ-path"></div>
